<div class="character-list">
    <div class="list-container" *ngIf="(characters$)?.length>0">
        <div class="list-item" *ngFor="let ch of (characters$ | sort:'id': typeSort | filter: genderItems:speciesItems:originItems)">
            <img [src]="ch.image" alt="{{ch.name}}" />
            <div class="box-top-area">
                <span class="char-name">{{ch.name}}</span>
                <span class="char-id">{{ch.id}} : {{ch.created | lastCreated}}</span>
            </div>
            <ul>
                <li>
                    <span class="property-area">Status</span><span class="value-area">{{ch.status}}</span></li>
                <li>
                    <span class="property-area">Species</span><span class="value-area">{{ch.species}}</span> </li>
                <li>
                    <span class="property-area">Gender</span><span class="value-area">{{ch.gender}}</span></li>
                <li>
                    <span class="property-area">Origin</span><span class="value-area">{{ch.origin.name}}</span></li>
                <li>
                    <span class="property-area">Last Location</span><span class="value-area">{{ch.location.name}}</span></li>
            </ul>
        </div>
    </div>
    <ng-template *ngIf="(characters$)?.length==0">
        <span>No character found !!</span>
    </ng-template>
</div>